/*! TACHYONS v4.6.1 | http://tachyons.io */
@import '../../node_modules/tachyons/src/_normalize.css';
/* @import '../../node_modules/tachyons/src/_box-sizing'; */
/* @import '../../node_modules/tachyons/src/_aspect-ratios'; */
/* @import '../../node_modules/tachyons/src/_images'; */
/* @import '../../node_modules/tachyons/src/_background-size'; */
/* @import '../../node_modules/tachyons/src/_background-position'; */
/* @import '../../node_modules/tachyons/src/_outlines'; */
@import '../../node_modules/tachyons/src/_borders';
@import '../../node_modules/tachyons/src/_border-colors';
/* @import '../../node_modules/tachyons/src/_border-radius'; */
/* @import '../../node_modules/tachyons/src/_border-style'; */
@import '../../node_modules/tachyons/src/_border-widths';
/* @import '../../node_modules/tachyons/src/_box-shadow'; */
/* @import '../../node_modules/tachyons/src/_code'; */
/* @import '../../node_modules/tachyons/src/_coordinates'; */
/* @import '../../node_modules/tachyons/src/_clears'; */
@import '../../node_modules/tachyons/src/_display';
@import '../../node_modules/tachyons/src/_flexbox';
@import '../../node_modules/tachyons/src/_floats';
@import '../../node_modules/tachyons/src/_font-family';
@import '../../node_modules/tachyons/src/_font-style';
@import '../../node_modules/tachyons/src/_font-weight';
/* @import '../../node_modules/tachyons/src/_forms'; */
/* @import '../../node_modules/tachyons/src/_heights'; */
@import '../../node_modules/tachyons/src/_letter-spacing';
@import '../../node_modules/tachyons/src/_line-height';
@import '../../node_modules/tachyons/src/_links';
/* @import '../../node_modules/tachyons/src/_lists'; */
@import '../../node_modules/tachyons/src/_max-widths';
@import '../../node_modules/tachyons/src/_widths';
/* @import '../../node_modules/tachyons/src/_overflow'; */
@import '../../node_modules/tachyons/src/_position';
/* @import '../../node_modules/tachyons/src/_opacity'; */
/* @import '../../node_modules/tachyons/src/_rotations'; */
@import '../../node_modules/tachyons/src/_skins';
/* @import '../../node_modules/tachyons/src/_skins-pseudo'; */
@import '../../node_modules/tachyons/src/_spacing';
/* @import '../../node_modules/tachyons/src/_negative-margins'; */
/* @import '../../node_modules/tachyons/src/_tables'; */
@import '../../node_modules/tachyons/src/_text-decoration';
/* @import '../../node_modules/tachyons/src/_text-align'; */
@import '../../node_modules/tachyons/src/_text-transform';
@import '../../node_modules/tachyons/src/_type-scale';
@import '../../node_modules/tachyons/src/_typography';
/* @import '../../node_modules/tachyons/src/_utilities'; */
/* @import '../../node_modules/tachyons/src/_visibility'; */
/* @import '../../node_modules/tachyons/src/_white-space'; */
/* @import '../../node_modules/tachyons/src/_vertical-align'; */
@import '../../node_modules/tachyons/src/_hovers';
/* @import '../../node_modules/tachyons/src/_z-index'; */
/* @import '../../node_modules/tachyons/src/_nested'; */
/* @import '../../node_modules/tachyons/src/_styles'; */
@import '../../node_modules/tachyons/src/_colors';
/* @import '../../node_modules/tachyons/src/_media-queries'; */
@import '../../node_modules/tachyons/src/_word-break';
/* @import '../../node_modules/tachyons/src/_debug-children'; */
/* @import '../../node_modules/tachyons/src/_debug-grid'; */
/* @import '../../node_modules/tachyons/src/_debug'; */

@custom-media --breakpoint-medium screen and (min-width: 45em) and (max-width: 60em);
@custom-media --breakpoint-large screen and (min-width: 60em);
@custom-media --breakpoint-not-small screen and (min-width: 45em);

body {
  cursor: default;
}

pre {
  margin: 0;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

.tipitop {
  margin-top: 0;
}

.output {
  width: 100%;
}

.editor {
  white-space: pre;
  display: block;
  min-height: 400px;
  margin: 0;
  font-size: 1rem;
  cursor: text;
  border: 1px solid #c0c0c0;
  outline: 0;
  height: 300px;
  overflow: scroll;
  font-family: monospace;
  padding: 1rem;
}

@media (--breakpoint-not-small) {
  .fuckyeah {
    display: block;
  }

  .editor {
    height: 50vh;
  }

  .editor-section:first-of-type {
    padding-right: 1.5rem;
  }

  .editor-section + .editor-section {
    padding-left: 1.5rem;
  }
}

@media (--breakpoint-medium) {
  .editor-section:first-of-type {
    padding-right: 1rem;
  }
}

@media (--breakpoint-large) {
  .editor-section:first-of-type {
    padding-right: 1.5rem;
  }

  .editor-section + .editor-section {
    padding-left: 1.5rem;
  }
}

.editor-ctrl {
  background: white;
  font-family: monospace;
  text-transform: uppercase;
}

.editor-section {
  box-sizing: border-box;
}

.editor-section .delay {
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.cellrow {
  font-size: 0;
}

.cellrow:not(:first-child) .memcell {
  border-top: 0;
}

.memcell {
  font-size: 1rem;
  border-bottom: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  border-top: 1px solid #c0c0c0;
  box-sizing: border-box;
  display: inline-block;
  font-family: monospace;
  height: 0;
  padding-bottom: 10%;
  text-align: center;
  width: 10%;
  position: relative;
  transition: color .2s, background-color .2s;
}

.memcell:first-child {
  border-left: 1px solid #c0c0c0;
}

.memcell span {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.memcell.selected {
  background-color: black;
  color: white;
}

.inverted {
  background-color: black;
  color: white;
}

.fuckyeah {
  display: none;
  height: 6rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

/* syntax highlighting start */
.editor .comment {
  color: #b9b9b9;
}

.editor .operator {
  color: #ff0000;
}

.editor .keyword,
.editor .branching {
  color: #373ae6;
}

.editor .increment,
.editor .decrement {
  color: #ff7b7b;
}

.editor .token:not(.comment) {
  cursor: pointer;
}

.editor .token.breakpoint,
.editor .token:not(.comment):hover {
  background-color: #ffa3a3;
  color: black;
}

.editor .token.selected {
  background-color: black;
  color: white;
}
/* syntax highlighting end */
