@import url('https://fonts.googleapis.com/css?family=Spectral');

body {
  cursor: default;
  margin: 0;
}

pre {
  margin: 0;
}

.spectral {
  font-family: 'Spectral', serif;
}

.helvetica {
  letter-spacing: .7px;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  box-sizing: content-box;
}

.editor-section {
  box-sizing: border-box;
}

/* gt/lt/open/close */
.cm-s-custom span.cm-atom,
.cm-s-custom span.cm-bracket {
  color: #229efc;
}

/* period/comma */
.cm-s-custom span.cm-def {
  color: #6a3bfb;
}

/* plus/minus */
.cm-s-custom span.cm-keyword {
  line-height: 1em;
  font-weight: bold;
  color: #fd8f34;
}

/* comment */
.cm-s-custom span.cm-comment {
  color: #b5bac8;
}

.CodeMirror {
  display: block;
  min-height: 400px;
  margin: 0;
  font-size: 1rem;
  cursor: text;
  border: 1px solid #c0c0c0;
  outline: 0;
  height: 300px;
  overflow: auto;
  font-family: monospace;
  padding: .75rem;
}

/* .editor .editor-token:hover { */
/*   cursor: pointer; */
/* } */
/*  */
/* .editor .editor-token.editor-breakpoint, */
/* .editor .editor-token:hover { */
/*   background-color: #ff5252; */
/*   color: #fff; */
/* } */

/* small */
@media screen and (min-width: 45em) {
}

/* not small?? */
@media screen and (min-width: 45em) {
}

/* medium */
@media screen and (min-width: 45em) and (max-width: 60em) {
  .editor-section:first-of-type {
    padding-right: 1rem;
  }
}

/* large */
@media screen and (min-width: 60em) {
  .editor-section:first-of-type {
    padding-right: 1.5rem;
  }

  .editor-section + .editor-section {
    padding-left: 1.5rem;
  }
}
